@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url(../../../../fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 900;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-color: #E8F3FE;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 80px;
    background-color: #178AF0;
    box-shadow: 3px 3px 4px 2px #B2B8B9;
}

.main {
    padding: 0px 80px;
}