.baseCard {
    background-color: #FFFFFF;
    border-radius: 8px;
    flex-grow: 1;
    min-width: min-content;
}

.primaryCard {
    box-shadow: 2px 2px 4px 1px #D8DCDC;
    padding: 0px 0px 0px 12px;
}

.secondaryCard {
    box-shadow: 1px 1px 2px 1px #D8DCDC;
    padding: 8px;
}