.baseCard {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    
}

.primaryCard {
    box-shadow: 2px 2px 4px 1px #D8DCDC;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0px;
}

.secondaryCard {
    box-shadow: 1px 1px 2px 1px #D8DCDC;
    flex-direction: column;
}