.container {
    height: 192px;
    min-width: 134px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 12px;
}

.illustration {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transform: scaleX(-1);
}

.title {
    padding: 9px 0px;
    text-align: center;
}
