.container {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    overflow-x: scroll;
    padding: 0px 16px;
    scrollbar-width: none;
}

/* Deactivate the scroll bar for most browsers*/
.hideScrollbar {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .hideScrollbar::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }

.relative {
    position: relative;
    margin: 0px -16px;
}

/* CSS adapted for desktop */
@media only screen and (min-width: 768px) {
    .container {
        column-gap: 16px;
        padding: 0px;
    }

    .relative {
        position: relative;
        margin: 0px;
    }
}